<%= form_with do |form| %>
    <div class="form-group">
        <%= form.label :book_id, "Judul Buku" %><br>
        <%= form.select :book_id, @bookData %>
    </div>
    <div class="form-group">
        <%= form.label :total_day, "Jumlah Hari" %><br>
        <%= form.text_field :total_day, :class => 'form-control', placeholder: "Total Day" %>
    </div>
    <div class="form-group">
        <%= form.label :user_id, "User" %><br>
        <%= form.select :user_id, @datas %>
    </div>

    <%= form.submit "Submit", :class => 'btn btn-primary' %>
<% end %>