<div>
    <button class="lead mt-4"><%= link_to 'Export Excel', book_path(format: :xlsx) %></button>
    <button class="lead mt-4"><%= link_to 'Export Pdf', book_pdf_path(format: :pdf) %></button>
</div>
<table border="1">
    <thead>
        <tr>
            <th>No</th>
            <th>Judul Buku</th>
            <th>Link Gambar Buku</th>
            <th>User Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @books.each_with_index do |data, index| %>
            <tr>
                <td><%= index+=1 %></td>
                <td><%= data.name %></td>
                <td><%= data.cover_book %></td>
                <td><%= data.user.name %></td>
                <td>
                    <%# <%= link_to 'Hapus', todo_destroy_path(data.id), data: { confirm: 'Ingin menghapus task ini?' }, method: :delete %>
                    <%# <%= link_to 'Edit', todo_edit_path(data.id) %> %> %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>